.highlight {
    background-color: #80c0b5;
}

.navbar-style
{
    background-color: #0c8351 !important;
}
.badge {
    background-color: #7a7b7c;
    color: #fff; 
}
.green-highlight {
    color: #008000;
    font-size: 40px;
}

.pink-highlight {
    color: pink;
    font-size: 25px;
}

.hand-icon {
    cursor: pointer;
}